<div *ngIf="department">

    <h2>{{department.name}} Details</h2>
    <div><span>Id: </span>{{department.id}}</div>
    <form (ngSubmit)="onSubmit()" #departmentForm="ngForm">
        <div class="form-group">
            <label for="name">Name:</label>
            <input id="name" type="text" class="form-control" placeholder="Name" required [(ngModel)]="department.name" name="name" #name="ngModel" />
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
            </div>
        </div>
        <div>
            <label for="location">Location:</label>
            <input id="location" type="text" class="form-control" placeholder="Location" required [(ngModel)]="department.location" name="location" #location="ngModel" />
            <div [hidden]="location.valid || location.pristine" class="alert alert-danger">
                Location is required
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!departmentForm.form.valid">Save</button>
        <button type="button" class="btn btn-warning" (click)="goBack()">Go back</button>
    </form>

    <div *ngIf="department.employees && department.employees.length > 0">
        <h3>Employees</h3>
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Favourite Drink</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of department.employees">
                    <th scope="row">{{employee.id}}</th>
                    <td>{{employee.name}}</td>
                    <td>{{employee.emailAddress}}</td>
                    <td>{{employee.favouriteDrink}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
